extends layout 

block content 
  h2 Details
  ul 
    li Name: #{category.name}
    li Description: #{category.description}
  if parts.length
    hr
    p The following PC parts still exist, a Category can only be deleted if it has no part left.
    ul
      each part in parts 
        li 
          ul
            li Name: 
              a(href=part.url)= part.name
            li description: #{part.description}
            li category: #{part.category.name}
            li price: $ #{part.price}
            li quantity: #{part.quantity}
  else
    hr
    p Are you sure you want  to delete the Computer Part above?
      form(action="" method="POST")
        input(type='hidden' name='categoryid' value=category._id)
        label(for='secret_pass') Secret Password: 
        input(
          id='secret_pass'
          placeholder='Enter the secret password to make changes!'
          name='secret_pass'
          required=true
        )
        hr
        if warning
          div #{warning}
        button(type='submit') Yes
          