extends layout

block content 
 h2 Details
 ul 
  li Name: #{part.name}
  li description: #{part.description}
  li category: #{part.category.name}
  li price: $ #{part.price}
  li quantity: #{part.quantity}